.Cell {
  height: 100px;
  width: 100px;
  background-size: cover;
  transform: scale(1); /* 1/10 of the original size */
  transition: all 1s ease-in-out;
  background-color: gray;
}

.Cell-lit {
  height: 100px;
  width: 100px;
  background-color: white;
  background-size: cover;
  transform: scale(1); /* 1/10 of the original size */
  transition: all 1s ease-in-out;
}

.Cell.opened {
  transform: scale(1);
}
